<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common/common.css" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="my-page.css" />
    <script type="module" src="../common/header-component.js"></script>
    <script src="../common/sidebar-container.js"></script>
    <script src="../common/footer-component.js"></script>
  </head>

  <body>
    <header-component></header-component>
    <sidebar-container>
      <p class="topTitle">회원 정보 수정</p>
      <form action="">
        <table>
          <tr>
            <td>이메일</td>
            <td><input type="email" class="email-input" /></td>
          </tr>
          <tr>
            <td>이름</td>
            <td><input type="text" class="name" /></td>
          </tr>
          <tr>
            <td>전화번호</td>
            <td><input type="text" class="phone-number" /></td>
          </tr>
          <tr>
            <td>주소</td>
            <td>
              <div class="address">
                <input type="text" class="address1" />
                <input type="text" class="address2" />
              </div>
            </td>
          </tr>
          <tr>
            <td class="submitBtnBox" colspan="2">
              <button class="submitBtn">적용</button>
            </td>
          </tr>
        </table>
        <button class="unregisterBtn">회원 탈퇴</button>
      </form>
    </sidebar-container>
    <footer-component></footer-component>
  </body>
</html>
