<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common/common.css" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="my-page.css" />
    <script type="module" src="../common/header-component.js"></script>
    <script src="../common/sidebar-container.js"></script>
    <script src="../common/footer-component.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </head>

  <body>
    <header-component></header-component>
    <sidebar-container>
      <p class="topTitle">회원 정보 수정</p>
      <form action="" name="userForm">
        <table>
          <tr>
            <td>이메일</td>
            <td>
              <input type="email" class="email-input" />
              <div class="email-error error-text"></div>
            </td>
          </tr>
          <tr>
            <td>이름</td>
            <td>
              <input type="text" class="name" />
              <div class="name-error error-text"></div>
            </td>
          </tr>
          <tr>
            <td>전화번호</td>
            <td>
              <input type="text" class="phone-number" />
              <div class="phone-number-error error-text"></div>
            </td>
          </tr>
          <tr>
            <td>주소</td>
            <td>
              <div class="address">
                <input
                  type="text"
                  class="postNumber"
                  name="postNumber"
                  readonly
                />
                <input type="text" class="address1" name="address1" readonly />
                <input type="text" class="address2" name="address2" />
                <div class="address-error error-text"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="submitBtnBox" colspan="2">
              <button class="submitBtn">적용</button>
            </td>
          </tr>
        </table>
        <button class="unregisterBtn">
          <a href="../user-delete/index.html">회원 탈퇴</a>
        </button>
      </form>
    </sidebar-container>
    <footer-component></footer-component>
    <script src="./my-page.js"></script>
  </body>
</html>
