ol,
ul {
  list-style: none;
}
img {
  /* TODO: 이미지 크기 정하기 */
  width: 400px;
  height: 600px;
}
h2 {
  font-size: 30px !important;
}
hr {
  border-top-color: #bbb;
  opacity: 0.5;
  width: 100%;
}
.product-box {
  width: 100%;
}
.product-info-wrapper {
  width: var(--max-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 150px auto 150px auto;
}
.product-info-board {
  display: flex;
  justify-content: center;
}
.product-info-box {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.product-image {
  border: 1px solid;
  width: 55%;
  display: flex;
  justify-content: center;
}
figure {
  margin: auto;
}
.product-detial-info-01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: auto;
  gap: 20px;
  margin-left: 40px;
}
.product-detail-info-book,
.product-detail-info-delivery,
.product-detail-info-price {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-detail-info-book > span {
  text-align: right;
  margin-left: auto;
}

.product-price {
  font-size: 25px;
  font-weight: bold;
}
.product-detail-info-content {
  overflow-y: scroll;
  height: 200px;
  margin: 10px 10px 50px 10px;
}
#right {
  text-align: right;
  margin-left: auto;
}
#right-count {
  text-align: right;
  margin-left: auto;
  gap: 10px;
  display: flex;
}
.product-detail-info-delivery > div,
.product-detail-info-price > div {
  display: flex;
}
.product-total-price{
  font-size: 25px;
  font-weight: bold;
  color: var(--point-color);
}
.product-buy-confirm {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.product-buy-confirm > button {
  width: 100%;
  height: 50px;
  background-color: var(--light-gray);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.product-buy-confirm > button:hover {
  background-color: var(--point-color);
  color: var(--white);
}

