body {
    font-family: "Nanum Gothic", sans-serif;
  }

  h1 {
    margin: 30px;
  }

  h2 {
    font-size: 15px;
    margin: 15px;
  }

.box {
    /* display: flex; */
  max-width: 1280px;
  margin: 0 auto;
    /* margin: 10px; */
    border: solid 1px;
}

.banner {
    margin: 30px;
    border: solid 1px;
  }

  .btn {
    display: block;
    margin: 0 auto;
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    color: #2a300d;
    
  }
  
  .btn:hover {
    background-color: #767676;
  }


  .ShoppingCartHead {
    /* float: left; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  section {
    /* display: flex;
    flex-direction: column; */
  }
  
  .CartTable {
    /* padding: 10%; */
    border-width: 1px;
    border-style: solid;
    border-color: #e9e9e9;
  }
  
  .Tr {
    display: flex;
    align-items: center;
    padding: 10px 0;
    /* justify-content: space-between; */
    background-color: #ffffff;
  }
  
  .AllCheckBox {
    text-align: center;
    padding: 2px;
  }
  
  th {
    margin: 0px 10px;
    text-align: center;
  }