<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>

    <!-- 공통 컴포넌트 -->
    <link rel="stylesheet" href="./common/reset.css" />
    <link rel="stylesheet" href="./common/common.css" />
    <script type="module" src="./common/header-component.js"></script>
    <script src="./common/footer-component.js"></script>

    <!-- SWIPER 외부 라이브러리 연결-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!--google material icon 사용-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <link rel="stylesheet" href="./main.css" />
  </head>

  <body>
    <div class="flex-container">
      <header-component></header-component>

      <main>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../public/images/books/main_01.png" />
            </div>
            <div class="swiper-slide">
              <img src="../public/images/books/main_02.png" />
            </div>
            <div class="swiper-slide">
              <img src="../public/images/books/main_03.png" />
            </div>
            <div class="swiper-slide">
              <img src="../public/images/books/main_04.png" />
            </div>
            <div class="swiper-slide">
              <img src="../public/images/books/main_05.png" />
            </div>
          </div>

          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev">
            <span class="material-symbols-outlined"> arrow_back_ios </span>
          </div>
          <div class="swiper-button-next">
            <span class="material-symbols-outlined"> arrow_forward_ios </span>
          </div>
        </div>
      </main>

      <footer-component></footer-component>
    </div>

    <script>
      new Swiper(".swiper", {
        autoplay: {
          delay: 5000,
        },
        loop: true,
        centeredSlides: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          prevEl: ".swiper-button-prev",
          nextEl: ".swiper-button-next",
        },
      });
    </script>
  </body>
</html>
