<!-- 상품 목록 페이지 -->
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link rel="stylesheet" href="./product-list.css" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../common/common.css" />
    <script type="module" src="../common/header-component.js"></script>
    <script src="../common/footer-component.js"></script>
    <script type="module" src="product-list.js"></script>
  </head>

  <body>
    <header-component></header-component>

    <main class="container">
      <div class="wrapper">
        <!-- 카테고리 -->
        <div class="category-container" id="category-container">
          <a class="category" href="/product-list">전체</a>
          <template id="template-category">
            <!-- 서브 카테고리 -->
          </template>
        </div>
        <!-- 상품목록 -->
        <div class="product-list" id="product-list">
          <template id="template-product">
            <div class="product-item">
              <a class="product-link">
                <div class="product-image-container">
                  <img class="product-image" />
                </div>
                <div class="product-item-info">
                  <div class="product-name"></div>
                  <div class="product-author"></div>
                  <div class="product-price"></div>
                </div>
              </a>
              <div class="product-button-container">
                <button id="add-cart-button" class="add-cart-button">
                  장바구니
                </button>
                <button id="direct-buy-button">바로구매</button>
              </div>
            </div>
          </template>
        </div>
      </div>
    </main>
    <footer-component></footer-component>
  </body>
</html>
