<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./product-list.css" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../common/common.css" />
    <script src="../common/header-component.js"></script>
  </head>
  <body>
    <header-component></header-component>

    <!-- 카테고리부분 -->
    <div class="product-box">
      <div class="current-category-bar">카테고리넣기</div>

      <div class="product-list">
        <div class="product-item">
          <div class="product-image">
            <a href="">
              <img
                alt="엘리스도서(책제목그대로하기)"
                src="./images/엘리스도서.jpg"
              />
            </a>
          </div>

          <div class="product-name">
            <a href="">엘리스 도서</a>
          </div>

          <div class="product-author">
            <span>엘리스 코딩 지음</span>
          </div>

          <div class="product-price">
            <span>가격</span>
          </div>

          <div class="product-buy-box">
            <a href="">
              <span>장바구니</span>
            </a>
            <a href="">
              <span>바로구매</span>
            </a>
          </div>
        </div>

        <div class="product-item">
          <div class="product-image">
            <a href="">
              <img
                alt="엘리스도서(책제목그대로하기)"
                src="./images/엘리스도서.jpg"
              />
            </a>
          </div>

          <div class="product-name">
            <a href="">엘리스 도서</a>
          </div>

          <div class="product-author">
            <span>엘리스 코딩 지음</span>
          </div>

          <div class="product-price">
            <span>가격</span>
          </div>

          <div class="product-buy-box">
            <a href="">
              <span>장바구니</span>
            </a>
            <a href="">
              <span>바로구매</span>
            </a>
          </div>
        </div>

        <div class="product-item">
          <div class="product-image">
            <a href="">
              <img
                alt="엘리스도서(책제목그대로하기)"
                src="./images/엘리스도서.jpg"
              />
            </a>
          </div>

          <div class="product-name">
            <a href="">엘리스 도서</a>
          </div>

          <div class="product-author">
            <span>엘리스 코딩 지음</span>
          </div>

          <div class="product-price">
            <span>가격</span>
          </div>

          <div class="product-buy-box">
            <a href="">
              <span>장바구니</span>
            </a>
            <a href="">
              <span>바로구매</span>
            </a>
          </div>
        </div>

        <div class="product-item">
          <div class="product-image">
            <a href="">
              <img
                alt="엘리스도서(책제목그대로하기)"
                src="./images/엘리스도서.jpg"
              />
            </a>
          </div>

          <div class="product-name">
            <a href="">엘리스 도서</a>
          </div>

          <div class="product-author">
            <span>엘리스 코딩 지음</span>
          </div>

          <div class="product-price">
            <span>가격</span>
          </div>

          <div class="product-buy-box">
            <a href="">
              <span>장바구니</span>
            </a>
            <a href="">
              <span>바로구매</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
