<!-- 상품 목록 페이지 -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link rel="stylesheet" href="./product-list.css" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../common/common.css" />
    <script src="../common/header-component.js"></script>
    <script src="../common/footer-component.js"></script>
  </head>

  <body>
    <header-component></header-component>

    <div class="product-box">
      <!-- 카테고리부분 -->
      <div class="current-category-bar">
        <div class="second-category">국내</div>
        <div class="third-category">> 경영 / 경제</div>
      </div>

      <div class="product-list" id="product-list"></div>
    </div>
    <footer-component></footer-component>
    <script type="module" src="index.js"></script>
  </body>
</html>
