.container {
  display: flex;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: var(--max-width);
}

.current-category-bar {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 10px;
  padding: 20px;
  background: white;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  box-sizing: border-box;
  width: 25%;
  padding: 0 32px 80px;
  text-align: center;
}

.product-image-container {
  display: flex;
  justify-content: center;
  height: 60%;
}

.product-image {
  width: 60%;
  height: 100%;
  object-fit: contain;
}

.product-item-info > div {
  padding: 8px;
}

.product-name {
  font-size: 20px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.product-author {
  font-size: 16px;
  color: #909090;
}

.product-price {
  color: #2341dc;
}

.product-buy-box {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.product-button-container button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ffffff;
}

.product-button-container button:hover {
  background-color: #e0e0e0;
  color: var(--black);
  /* font-weight: bold; */
}

/* .product-button-container button:first-child {
  background-color: #ffffff;
  color: var(--black);
  border: 1px solid #e0e0e0;
}

.product-button-container button:nth-child(2) {
  background-color: #e0e0e0;
  color: var(--black);
} */

/* .product-buy-box a {
  border: 1px solid black;
  width: 150px;
  height: 35px;
  text-align: center;
} */
