ol,
ul {
  list-style: none;
}
.product-box {
  width: var(--max-width);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.current-category-bar {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 10px;
  padding: 20px;
  background: white;
}
.product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;

  grid-row-gap: 70px;
}
.product-item {
  width: 25%;
}
a {
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
}
span {
  justify-content: center;
  align-items: center;
  display: flex;
}
img {
  width: 150px;
  height: 220px;
}
.product-image {
  width: 90%;
  margin: 0 auto 20px auto;
}
.product-item-info {
  width: 90%;
  margin: auto;
}
.product-name {
  padding: 0 15px;
  height: 45px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.product-name a {
  line-height: 45px;
  text-align: center;
  white-space: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product-author {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  height: 30px;
}
.product-price {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  height: 30px;
  font-weight: bold;
}
.product-buy-box {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}
.product-buy-box a {
  border: 1px solid black;
  width: 150px;
  height: 35px;
  text-align: center;
}
