<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../common/common.css" />
    <link rel="stylesheet" href="../order/index.css" />
    <script src="../common/header-component.js"></script>
    <script src="../common/footer-component.js"></script>

    <title>order</title>
    <script type="module" src="index.js"></script>
  </head>

  <body>
    <header-component></header-component>
    <main>
      <div class="container">
        <div class="wrapper">
          <div class="delivery-order">
            <table>
              <thead>
                <tr>
                  <th>상품이미지</th>
                  <th>상품명</th>
                  <th>상품가격</th>
                  <th>수량</th>
                  <th>총가격</th>
                  <th>삭제</th>
                </tr>
              </thead>
              <tbody id="cart-body">
                <tr>
                  <td span="6">장바구니 가져오는 중</td>
                </tr>
              </tbody>
            </table>
            <div class="delivery-address">
              <ul class="delivery-address-detail">
                <p>배송 정보</p>
                <input
                  class="UserName"
                  type="text"
                  name="UserName"
                  placeholder="수령인"
                />
                <input
                  class="UserNumber"
                  type="text"
                  name="UserNumber"
                  placeholder="전화번호"
                />
                <input
                  class="UserPost"
                  type="text"
                  name="UserPost"
                  placeholder="우편번호"
                />
                <input
                  class="UserAddress"
                  type="text"
                  name="UserAddress"
                  placeholder="주소"
                />
                <input
                  class="UserDetail"
                  type="text"
                  name="UserAddressDetail"
                  placeholder="상세주소"
                />
              </ul>
              <ul class="delivery-address-memo">
                <p>배송 메모</p>
                <select
                  class="delivmemo"
                  name="delivmemo"
                  title="memo"
                  data-group="shipping"
                >
                  <option value="">배송메모를 선택해 주세요.</option>
                  <option value="배송 전에 미리 연락 바랍니다.">
                    배송 전에 미리 연락 바랍니다.
                  </option>
                  <option value="부재시 경비실에 맡겨주세요.">
                    부재시 경비실에 맡겨주세요.
                  </option>
                  <option value="부재시 전화나 문자를 남겨주세요.">
                    부재시 전화나 문자를 남겨주세요.
                  </option>
                  <option value="custom">직접입력</option>
                </select>
              </ul>
            </div>
            <div class="delivery-pay">
              <a href="" class="Apay"> <span>무통장입금</span> </a>
            </div>
          </div>
          <div class="payments">
            <aside>
              <ul>
                <li class="payments-item">
                  <p>상품금액</p>
                  <p><span id="book-price"></span><span>원</span></p>
                </li>
                <li class="payments-item">
                  <p>배송비</p>
                  <p><span id="delivery-fee"></span><span>원</span></p>
                </li>
                <li class="payments-item">
                  <p>결제 예정 금액</p>
                  <p><span id="total-price"></span><span>원</span></p>
                </li>
              </ul>
              <button>주문하기</button>
            </aside>
          </div>
        </div>
      </div>
    </main>
    <footer-component></footer-component>
  </body>
</html>
