h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 20px 20px 20px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
}

h3 {
  font-size: 15px;
  /* margin-left: 15px; */
  line-height: 1.5;
}

.h3 {
  font-weight: bold;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#payment-button {
  background-color: #ffffff;
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 8px 85px;
  cursor: pointer;
}

#address-popup-button {
  background-color: #ffffff;
  border: 1px solid var(--gray);
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
}

.wrapper {
  max-width: 864px;
  width: 100%;
}

.recipient-info-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.recipient-info-container input {
  width: 100%;
}

.address-container {
}

.order-bill-container {
  display: flex;
  justify-content: space-between;
}

.section-container {
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3px;
  height: min-content;
  padding: 32px 16px;
  margin: 8px;
  width: 100%;
}

.section-container-left {
  max-width: 560px;
}

.section-container-right {
  max-width: 280px;
}

.payments-item {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}



.bill {
  width: 280px;
  flex-shrink: 0;
}

.bill li {
  padding-bottom: 16px;
}

.bill button {
  width: 100%;
}
