h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 20px 20px 20px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
}

h3 {
  font-size: 15px;
  /* margin-left: 15px; */
  line-height: 1.5;
}

.h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
  margin-top: 30px;
  line-height: 1.5;
}

.nh-pay {
  margin: 10px 0px 30px 0px;
}

.pay-input {
  margin: 10px 0px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#payment-button {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 8px 85px;
  cursor: pointer;
}

#payment-button:hover {
  background-color: var(--point-color);
  color: var(--white);
}

#address-popup-button {
  border: 1px solid var(--gray);
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
}

.wrapper {
  max-width: 864px;
  width: 100%;
}

.recipient-info-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.recipient-info-container input {
  width: 100%;
}

.order-bill-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.section-container {
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3px;
  height: min-content;
  padding: 32px 16px;
  margin: 8px;
  width: 100%;
}

.section-container-left {
  max-width: 560px;
}

.section-container-right {
  max-width: 280px;
}

.payments-item {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.bill {
  width: 294px;
  flex-shrink: 0;
}

.bill li {
  padding-bottom: 16px;
}

.bill button {
  width: 100%;
}

.pay-text {
  display: flex;
  margin-top: 2px;
  font-size: 12px;
  color: #3a0d0d;
  line-height: 1.5;
}

.pay-name {
  width: 220px;
}

.address-all {
  padding-left: 10px;
}

.address-memorandum {
  padding-left: 10px;
}

.address-wrapper {
  width: 300px;
  display: flex;
  gap: 8px;
  margin: 16px 0;
}

.address-wrapper input {
  width: 100%;
  flex: 2;
}
.address-wrapper button {
  flex: 1;
  background-color: var(--light-gray);
}

.section-container-delivery {
  width: 400px;
  height: 30px;
  margin-top: 10px;
}
