:root {
  --text-size: 15px;
}

.topTitle {
  font-size: 25px;
  margin: 30px;
}
table {
  border: 1px solid black;
  margin: 50px auto;
  width: 800px;
  height: 420px;
}
tr,
td {
  border: 1px solid black;
  vertical-align: middle;
  height: 80px;
}
table select {
  width: 200px;
  height: 40px;
  margin-left: 20px;
  padding: 5px;
  font-size: var(--text-size);
}
.title,
.author,
.publisher {
  border: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  font-size: var(--text-size);
}
.price,
.pages,
.quantity {
  border: none;
  padding: 10px;
  width: 10%;
  height: 30px;
  text-align: center;
  font-size: var(--text-size);
}
.price {
  width: 20%;
}
.quantityBox {
  margin-left: 20px;
}
.quantityBox input {
  margin: 5px;
}
.quantityBox button {
  background-color: white;
  vertical-align: middle;
  font-size: 30px;
  border: none;
  cursor: pointer;
}
label[for="imgUpload"] {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.bookImg {
  width: 30%;
  height: 250px;
}
.imgSrc {
  width: 100%;
  height: 250px;
}
#imgUpload {
  display: none;
}
.explainBox {
  border-top: 2px solid black;
  width: 80%;
  margin: 50px auto;
}
.explain p {
  margin-top: 30px;
  font-size: 25px;
}
.bookExplain {
  display: block;
  margin: 30px auto;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  font-size: var(--text-size);
}
.bottomBox {
  display: flex;
  justify-content: center;
}
.cancleBtn,
.saveBtn {
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
}

.cancleBtn a {
  display: block;
  color: black;
  text-decoration: none;
}
