body {
  width: var(--max-width);
  margin: 0 auto;
}
.topTitle{
  font-size: 25px;
  margin: 30px;
}
table {
  border: 1px solid black;
  width: 30%;
}
tr, td {
  border: 1px solid black;
  vertical-align : middle;
}
#imgUpload {
  display: none;
}
label {
  cursor: pointer;
}
.saveBtn {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}