<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
  <link rel="stylesheet" href="../common/reset.css" />
  <link rel="stylesheet" href="../common/common.css" />
  <link rel="stylesheet" href="signup.css" />
  <script src="../common/header-component.js"></script>

</head>

<body>
  <header-component></header-component>
  <div class="container">
    <h1>회원가입</h1>
    <form id="signup-form" action="/api/v1/signup" method="POST">
      <div class="form-group">
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" placeholder="example@example.com" required>
      </div>
      <div class="error-message" id="email-error"></div>
      <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" placeholder="영문, 숫자를 조합한 8자 이상 20자이하" required>
      </div>
      <div class="error-message" id="password-error"></div>
      <div class="form-group">
        <label for="password-confirm">비밀번호 확인</label>
        <input type="password" id="password-confirm" name="password-confirm" placeholder="비밀번호와 일치하는 문자 입력" required>
      </div>
      <div class="error-message" id="password-confirm-error"></div>
      <div class="form-group">
        <label for="tel">전화번호</label>
        <input type="tel" id="tel" name="tel" placeholder="010-8888-9999" required>
      </div>
      <div class="error-message" id="tel-error"></div>
      <button type="submit">가입하기</button>
    </form>
  </div>

  <script src="signup.js"></script>
</body>

</html>