<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../common/common.css" />
    <link rel="stylesheet" href="../common/form.css" />
    <script type="module" src="../common/header-component.js"></script>
    <script src="../common/footer-component.js"></script>

    <link rel="stylesheet" href="./login.css" />
    <script type="module" defer src="./login.js"></script>
  </head>

  <body>
    <header-component></header-component>
    <div class="form-container">
      <h1 class="form-title">안녕하세요!</h1>
      <form id="login-form">
        <div class="form-group">
          <label class="form-label" for="email">이메일</label>
          <input
            class="form-input email-input"
            type="email"
            id="email"
            name="email"
            placeholder="example@example.com"
            required
          />
        </div>
        <div class="form-error-message" id="email-error"></div>
        <div class="form-group">
          <label class="form-label" for="password">비밀번호</label>
          <input
            class="form-input password-input"
            type="password"
            id="password"
            name="password"
            placeholder="영문, 숫자를 조합한 8자 이상 20자이하"
            autocomplete=""
            required
          />
        </div>
        <div
          class="form-error-message login-error-message"
          id="password-error"
        ></div>
        <button class="form-button" type="submit">로그인</button>
      </form>
    </div>
    <footer-component></footer-component>
  </body>
</html>
