h1 {
  font-size: 20px;
  margin: 20px 0px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  background-color: #ffffff;
  border: 1px solid var(--gray);
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 864px;
  width: 100%;
}

.recipient-info-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.recipient-info-container input {
  width: 100%;
}

.order-bill-container {
  display: flex;
  justify-content: space-between;
}

.section-container {
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3px;
  height: min-content;
  padding: 32px 16px;
  margin: 8px;
  width: 100%;
}

.section-container-left {
  max-width: 560px;
}

.section-container-right {
  max-width: 280px;
}

.payments-item {
  display: flex;
  justify-content: space-between;
}

.bill {
  width: 280px;
  flex-shrink: 0;
}

.bill li {
  padding-bottom: 16px;
}

.bill button {
  width: 100%;
}
