.topTitle {
  font-size: 25px;
  margin: 30px;
  width: 100%;
}
.container {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}
.buttonBox {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  gap: 10px;
  width: 100%;
  margin: 10px 0;
}
h2 {
  font-weight: bold;
  font-size: 25px;
}
hr {
  border-top-color: #bbb;
  opacity: 0.5;
  width: 100%;
}
.listAddBtn,
.deleteAllBtn,
.modifyBtn,
.deleteBtn {
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
.listAddBtn a,
.modifyBtn a {
  display: block;
  color: black;
  text-decoration: none;
}
.modifyBtn,
.deleteBtn {
  margin: 10px auto;
}
#main-container {
  border-top: 8px solid;
  border-bottom: 8px solid;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.contain-inner {
  display: flex;
  width: 100%;
}
.contain-inner > div {
  /* border: 1px solid; */
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px 30px;
}
.category {
  color: var(--point-color);
}
.bookImg {
  border: 1px solid;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  height: 200px;
}
.contain-inner-02 {
  text-align: center;
  gap: 10px !important;
}
.price{
  margin-top: 30px;
  color: var(--point-color);
  font-size: 20px;
}
.author{
  margin-top: 30px;
}
.contain-inner-03 {
  text-align: center;
  gap: 20px !important;
}
.contain-inner-04 {
  justify-content: center;
  gap: 0 !important;
}
