<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common/common.css" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="booklist-seller.css" />
    <script type="module" src="../common/header-component.js"></script>
    <script src="../common/sidebar-container.js"></script>
    <script src="../common/footer-component.js"></script>
  </head>

  <body>
    <header-component></header-component>
    <sidebar-container>
      <p class="topTitle">도서 목록</p>

      <div class="container">
        <div class="buttonBox">
          <button class="deleteAllBtn">전체삭제</button>
        </div>

        <div class="contain-inner">
          <div class="contain-inner-01">
            <span class="category">국내 / 소설</span>
            <div class="bookImg">
              <img />
            </div>
          </div>

          <div class="contain-inner-02">
            <h2 class="title">짜라짜라짜</h2>
            <span class="price">15,000</span>
            <span class="quantity">현재 재고 5</span>
          </div>

          <div class="contain-inner-03">
            <span class="writer">지은이</span>
            <span class="publisher">출판사</span>
          </div>

          <div class="contain-inner-04">
            <button class="modifyBtn">
              <a href="../bookmodify-seller/index.html">수정</a>
            </button>
            <button class="deleteBtn">삭제</button>
          </div>
        </div>

        <div class="buttonBox">
          <button class="listAddBtn">
            <a href="../bookmodify-seller/index.html">등록</a>
          </button>
        </div>
      </div>
    </sidebar-container>
    <footer-component></footer-component>
  </body>
</html>
