:root {
  --max-width: 1280px;
  --point-color: #c60167;
  --red: #e53935;
  --white: #ffffff;
  --light-gray: #ebebeb;
  --gray: #c5c5c5;
  --dark-gray: #484848;
  --black: #000000;
  --blue: #2341dd;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.flex-item {
  flex: 1;
}

button:disabled {
  cursor: not-allowed;
}
