.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.form-title {
  text-align: center;
  font-size: 20px;
  margin: 20px 0px 40px;
}

.form-group {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  width: 100%;
}

.form-label {
  flex-shrink: 0;
  display: block;
  padding: 10px 15px;
  color: #616161;
  font-size: 14px;
  width: 120px;
}

.form-input[type="text"],
.form-input[type="email"],
.form-input[type="password"],
.form-input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 0px;
}

.form-error-message {
  color: #e53935;
  font-size: 12px;
  padding: 5px 15px 10px;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: var(--point-color);
  color: var(--white);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-input-alone {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 8px 12px;
}
