.sidebar-layout-container {
  display: flex;
  justify-content: center;
}

.sidebar-layout-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
}
