body {
  font-family: "Nanum Gothic", sans-serif;
}

.user-delivery-order-page {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ededed;
}

.user-delivery-order {
  flex: 1;
  width: 70%;
  flex-direction: column;
  background-color: #e7f3d2;
}

.ShoppingCartHead {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section {
  /* display: flex;
  flex-direction: column; */
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
  color: #2a300d;
}

.btn:hover {
  background-color: #767676;
}

.CartTable {
  /* padding: 10%; */
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
}

.Tr {
  display: flex;
  align-items: center;
  padding: 10px 0;
  /* justify-content: space-between; */
  background-color: #ffffff;
}

.AllCheckBox {
  text-align: center;
  padding: 2px;
}

th {
  margin: 0px 10px;
  text-align: center;
}

.UserData {
  display: flex;
  align-items: center;
  padding: 10px 0;
  /* justify-content: space-between; */
  background-color: #e4e4e4;
}

.OrderCheckBox {
  text-align: center;
  padding: 2px;
}

td {
  margin: 0px 10px;
  text-align: center;
}

.OrderCheckBox {
  text-align: center;
  padding: 2px;
}

.delivery-address {
  float: left;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.delivery-address-detail {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.delivery-address-detail p {
  margin: 10px;
}

.delivery-address-detail input {
  margin-bottom: 10px;
  width: 50%;
  padding: 5px;
}

.delivery-address-memo {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.delivery-address-memo p {
  margin: 10px;
}

.delivery-address-memo select {
  width: 50%;
  padding: 5px;
}

.pay {
  margin: 50px;
  padding: 10px;
  border: solid 1px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside {
  width: 20%;
  float: right;
  padding-top: 60px;
  background-color: rgb(255, 255, 255);
}

.total {
  margin: 15px;
  padding: 20px;
  border: solid 1px;
  border-radius: 15px;
  border-color: #c9c9c9;
}

.total-box {
  margin: 10px;
  padding: 0px;
  height: 200px;
  border: solid 1px;
  border-radius: 10px;
  border-color: #e3e3e3;
}

.info {
  padding: 5px;
}

.item-price {
  margin: 0;
  padding: 0;
  width: 300px;
}

.delivery-price {
  margin: 0;
  padding: 0;
  width: 300px;
}

.discount-price {
  margin: 0;
  padding: 0;
  width: 300px;
}

.final-price {
  margin: 0;
  padding: 0;
  width: 300px;
}

.points-price {
  margin: 0;
  padding: 0;
  width: 300px;
}

.label {
  float: left;
  color: #464646;
}

.label-box {
  float: right;
  width: 150px;
}

.unit {
  float: right;
}

.price {
  float: left;
  margin-left: 50%;
}

.delivery {
  float: left;
  margin-left: 50%;
}

.discount {
  float: left;
  margin-left: 50%;
}

.final {
  float: left;
  margin-left: 50%;
}

.points {
  float: left;
  margin-left: 50%;
}
