<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../common/common.css" />
    <link rel="stylesheet" href="../common/form.css" />
    <link rel="stylesheet" href="../common/table.css" />

    <script src="../common/sidebar-container.js"></script>
    <script type="module" src="../common/header-component.js"></script>
    <script src="../common/footer-component.js"></script>

    <link rel="stylesheet" href="../receipt/receipt.css" />
    <script src="../receipt/receipt..js"></script>

    <title>receipt</title>
  </head>

  <body>
    <header-component></header-component>
    <sidebar-container>
      <div class="box">
        <h1>주문 배송 조회</h1>
        <div class="order-box">
          <div class="banner">
            <h2>조회기간</h2>
            <button type="button" class="btn" id="deleteButton1">
              내 주문내역에서 삭제
            </button>
          </div>
          <div class="ShoppingCartHead">
            <table>
              <thead>
                <tr>
                  <th>ㅁ</th>
                  <th>구매일</th>
                  <th>결제 내역</th>
                  <th>주문금액</th>
                  <th>배송상태</th>
                  <th>배송취소</th>
                </tr>
              </thead>

              <tbody>
                <template id="order-complete">
                  <tr class="up">
                    <td><input type="checkbox" /></td>
                    <td id="createdAt"><!-- 구매일 --></td>
                    <td id="books"><!-- 결제 내역 --></td>
                    <td id="aproductsPrice"><!-- 총 금액 --></td>
                    <td id="deliveryState"><!-- 배송상태 --></td>
                    <td>
                      <button type="button" class="btn" id="deleteButton2">
                        주문취소
                      </button>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
        <div id="order-list-message" style="display: none">
          주문 내역이 없습니다.
        </div>
      </div>
    </sidebar-container>
    <footer-component></footer-component>
  </body>
</html>
