.box {
    /* display: flex; */
  /* max-width: 1280px; */
  /* margin: 0 auto; */
    margin: 10px;
    border: solid 1px;
}

.order-box{
  max-width: 1200px;
  margin: 0 auto;
  border: solid 1px;
}

.banner {
    margin: 30px;
    border: solid 1px;
  }

  /* .btn {
    display: block;
    margin: 0 auto;
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    color: #2a300d;
  } */
  
  .btn:hover {
    background-color: #767676;
  }


  .ShoppingCartHead {
    /* float: left; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
